@model IEnumerable<SalesWeb.Models.Seller>

@{
    ViewData["Title"] = "Sellers";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-secondary">Create new</a>
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr class="bg-gradient">
            <th>
                @Html.DisplayNameFor(item => item.Name)
            </th>
            <th>
                @Html.DisplayNameFor(item => item.Email)
            </th>
            <th>
                @Html.DisplayNameFor(item => item.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(item => item.BaseSalary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BaseSalary)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

